
*{
    margin: 0%;
    padding: 0%;
    /* font-family: sans-serif; */
    box-sizing: border-box;
    
}

.navbar{
    background-color: #9adaff;
}


.toggle{
    font-size: 30px;
    margin-top: 8px;
    margin-left: 6px;
   color:  rgb(0, 135, 197);
   
}


 form {
    outline: cornflowerblue;
    height: 37px;
    width: 100%;
    max-width: 350px;
 background: rgba(255, 255, 255, 0.774);
 display: flex;
 align-items: center;
 border-radius: 60px;
 padding:3px 10px;
 border:3px inset rgb(0, 204, 255) ;
}

form input{
    
    border: 0;
  background-color: #ffffff;
     color: #ffffff;
    }

form button{
    width: 35px;
    border:2px;
    border-radius: 50%;
    height:30px;
    background-color: #06a4ff;
    cursor: pointer;
    color: white;
}
 

.notification{
   font-size: 30px;
   margin-top: 24px;
   margin-left: 6px;
  color:  rgba(20, 175, 247, 0.842);
}

.notification .num{
bottom: -6px;
right: -6px;
width: 30px;
height: 40px;
border-radius: 50%;
font-size: 12px;font-weight: 700;
margin-right: 20px;
/* 
background: var(--light);

border:2px solid var(--light);
justify-content: center;
align-items: center; */
}

img{
    height: 45px;
    border-radius: 50%;
    /* margin-top: 10px; */
}
.righth{
    display: flex;
    justify-content: space-between;
}

.dropdown{height: 61px;

}

.right{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    
}

 /* .r1{
    display: flex;
    align-items: end;
    
} */
 .r2{
    display: flex;
    flex-direction: row;
} 