<main>
    <h2>Add Departments</h2>
    <h4>Department/Add Department</h4>

    <form action="" class="form">
        <h3>Department Details:-</h3>
          <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="" class="form-lable">Department Id:-</label>
                    <input type="text" name="" class="form-control" id="">
                </div>
                <div class="form-group">
                    <label for="" class="form-lable">Head Of Department:-</label>
                    <input type="text" name="" class="form-control" id="">
                </div>
                <div class="form-group">
                    <label for="" class="form-lable">No Of Student:-</label>
                    <input type="text" name="" class="form-control" id="">
                </div><br>
                <button class="btn btn-info">Submit</button>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="" class="form-lable">Department Name:-</label>
                    <input type="text" name="" class="form-control" id="">
                </div>
                <div class="form-group">
                    <label for="" class="form-lable">Department Start Date:-</label>
                    <input type="date" name="" class="form-control" id="">
                </div>
            </div>
          </div>
    </form>
    </main>

