.box-1{
    background-color: lightpink;
    /* margin-top: 5px; */
    border-radius: 30px 0px;
    border:1px solid red;
    height:100%;
}


.icon{
    font-size:2.5rem;
    margin: auto;
    /* background-color: lightcoral; */
}
.text-1{
    margin: auto;
}
h3{
    font-size: 25px;
    padding-top: 10px;
}

/* ------------------------------- */

table {
    width: 100%;
  }
.table-text{
    font-size: 25px;
    height: 60px;
    padding-top: 20px;
    
}
/* -------------------------------- */
.box-5{
    background-color: rgb(212, 176, 33);
    margin-top: 5px;
    border-radius: 10px;
    height: 100px;
}
.fa-brands{
    font-size: 60px;
    padding-top: 25px;

}