<h1 class="text-center my-3">List Of Students</h1>

<div class="d-flex mx-3 text-center" >
Show <select class="form-select mb-3" id="inputGroupSelect01" style="width: 70px;">
    <option selected>10</option>
    <option value="1">20</option>
    <option value="2">30</option>
    <option value="3">50</option>
  </select> entries  <br>
  <label>Show <select name="DataTables_Table_0_length"
    aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
   <option value="10">10</option>
   <option value="25">25</option>
   <option value="50">50</option>
   <option value="100">100</option>
</select> entries</label></div>
<div class="container d-flex justify-content-center">

   
   
    <table class="table text-center table-primary table-striped table-bordered">
            <thead>
                <tr class="table-primary my-4">

                    <th>ID</th>
                    <th>FIRSTNAME</th>
                    <th>LASTNAME</th>
                    <th>EMAIL-ID</th>
                    <th>Edit/update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of employeelist">
                    <td>{{d.id}}</td>
                    <td>{{d.firstName}}</td>
                    <td>{{d.lastName}}</td>
                    <td>{{d.emailId}}</td>
                    <td><button type="button "class="btn btn-success"><a class="text-light" [routerLink]="['/edit/'+d.id]">Edit</a></button></td>
                   
                    <td><button type="button" class="btn btn-danger" (click)="deleteemp(d.id)">DELETE</button></td>
                </tr>
            </tbody>
        </table>


