<div class="heading">
    <h2>Fees Collections</h2>
    <h4>Dashboard/Fees Collection</h4>
    </div>
    <div class="downld">
        <button class="btn btn-outline-warning " type="button"><i class="fa-solid fa-download"></i>download</button>
    
 
          <button mat-mini-fab color="accent" class="add" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
        <div class="table">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="6" class="show">Show
                  <form action="">
                    <input type="number" style="width: 40px; height: 20px;" name="" id="">
                  </form> Entries</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Fees Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Paid Date</th>
                <th scope="col">Status</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td colspan="4">Showing 1 to 10 of 11 entries</td>
                <td colspan="2"><div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-light" disabled>Previous</button>
                    <button type="button" class="btn btn-warning">I</button>
                    <button type="button" class="btn btn-warning">2</button>
                    <button type="button" class="btn btn-light" disabled>Next</button>
                  </div></td>
              </tr>
            </tbody>
          </table>
          </div>
          <hr>
     <h2 class="copy">
        Copyright @2020 Dreamguys. 
     </h2>     

                 
        
      
    





