<mat-nav-list>

  <img id="logo" src="../../assets/logo-small.png" alt="company logo">

  <hr>
  <h3 class="text-center ">Main Menu</h3>

  <div class="accordion " id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <h4 style="margin-top: 30px;"><i class="fa-solid fa-user-graduate mx-2"></i>Dashboard</h4>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body mx-4">
          <ul>
            <li><a href="">
                <h3>Admin Dashboard</h3>
              </a></li>
            <li> <a href="">
                <h3>Teacher Dashboard</h3>
              </a></li>
            <li> <a href="">
                <h3>Student Dashboard</h3>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          <h4 style="margin-top: 30px;"><i class="fa-solid fa-user-graduate mx-2"></i>Students</h4>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body mx-4">
          <ul>
            <li><a href="studentlist">
                <h3>Student List</h3>
              </a></li>
            <li> <a href="">
                <h3>Student View</h3>
              </a></li>
            <li> <a href="studentadd">
                <h3>Student Add</h3>
              </a></li>
            <li> <a href="studentedit">
                <h3>Student Edit</h3>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4 style="margin-top: 30px;"><i class="fa-solid fa-chalkboard-user mx-2"></i>Teachers</h4>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body mx-4">
          <ul>
            <li><a href="">
                <h3>Teacher List</h3>
              </a></li>
            <li> <a href="">
                <h3>Teacher View</h3>
              </a></li>
            <li> <a href="">
                <h3>Teacher Add</h3>
              </a></li>
            <li> <a href="">
                <h3>Teacher Edit</h3>
              </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h4 style="margin-top: 30px;"><i class="fa-sharp fa-solid fa-building mx-2"></i>Departments</h4>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body mx-4">
          <ul>
            <li><a href="">
                <h3>Department List</h3>
              </a></li>
            <li> <a href="">
                <h3>Department Add</h3>
              </a></li>
            <li> <a href="">
                <h3>Department Edit</h3>
              </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h4 style="margin-top: 30px;"><i class="fa-solid fa-book-open-reader mx-2"></i>Subjects</h4>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body mx-4">
          <ul>
            <li><a href="">
                <h3>Subject List</h3>
              </a></li>
            <li> <a href="">
                <h3>Subject Add</h3>
              </a></li>
            <li> <a href="">
                <h3>Subject Edit</h3>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <h3 class="text-center my-2">Management</h3>
  <div class="manage">
  <div class="accordion " id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading_1">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1"
          aria-expanded="false" aria-controls="collapse_1">
          <h4 style="margin-top: 30px;"><i class="fa-sharp fa-solid fa-file-invoice-dollar mx-2"></i>Account</h4>
        </button>
      </h2>
      <div id="collapse_1" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body mx-4">
          <ul>
            <li><a href="">
                <h3>Fees Collection</h3>
              </a></li>
            <li> <a href="">
                <h3>Expenses</h3>
              </a></li>
            <li> <a href="">
                <h3>Salary</h3>
              </a></li>
            <li><a href="">
                <h3>Add Fees</h3>
              </a></li>
            <li> <a href="">
                <h3>Add Expenses</h3>
              </a></li>
            <li> <a href="">
                <h3>Add Salary</h3>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a href="">
    <h4 class="mx-4" style="margin-top:15px;"><i class="fa-solid fa-holly-berry mx-2"></i>Holiday</h4>
  </a>
  <a href="">
    <h4 class="mx-4"><i class="fa-solid fa-comment-dollar mx-2"></i>Fees</h4>
  </a>
  <a href="">
    <h4 class="mx-4"><i class="fa-solid fa-list-check mx-2"></i>Examlist</h4>
  </a>
  <a href="">
    <h4 class="mx-4"><i class="fa-solid fa-calendar-day mx-2"></i>Events</h4>
  </a>
  <a href="">
    <h4 class="mx-4"><i class="fa-solid fa-table mx-2"></i>Time Table</h4>
  </a>
  <a href="">
    <h4 class="mx-4"><i class="fa-solid fa-book mx-2"></i>Library</h4>
  </a>
</div>

  <h3 class="text-center">Pages</h3>
  <div class="manage">
  <div class="accordion " id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading_2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
          <h4 style="margin-top: 30px;"><i class="fa-solid fa-shield-halved mx-2"></i>Authentication</h4>
        </button>
      </h2>
      <div id="collapse_2" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body mx-4">
          <ul>
            <li><a href="">
                <h3>Login</h3>
              </a></li>
            <li> <a href="">
                <h3>Register</h3>
              </a></li>
            <li> <a href="">
                <h3>Forget Password</h3>
              </a></li>
            <li><a href="">
                <h3>Error Page</h3>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <a href="">
    <h4 class="mx-4" style="margin-top:15px;"><i class="fa-solid fa-file mx-2"></i>Blank Page</h4>
  </a>
</div>

  <h3 class="mx-4">Others</h3>

  <div class="manage">
  <a href="">
    <h4 class="mx-4"><i class="fa-solid fa-volleyball mx-2"></i>Sports</h4>
  </a>
  <a href="">
    <h4 class="mx-4"><i class="fa-solid fa-hotel mx-2"></i>Hostel</h4>
  </a>
  <a href="">
    <h4 class="mx-4" ><i class="fa-solid fa-car-side mx-2 "></i>Transport</h4>
  </a>
</div>

  <h3 class="text-center">UI Interface</h3>
  <div class="manage">
  <a href="">
    <h4 class="mx-4"><i class="fa-sharp fa-solid fa-network-wired mx-2"></i>Components</h4>
  </a>


  <div class="accordion " id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading_3">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
          <h4 style="margin-top: 30px;"><i class="fa-brands fa-wpforms mx-2"></i>Forms</h4>
        </button>
      </h2>
      <div id="collapse_3" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body mx-4">
          <ul>
            <li><a href="">
                <h3>Basic inputs</h3>
              </a></li>
            <li> <a href="">
                <h3>Input Groups </h3>
              </a></li>
            <li> <a href="">
                <h3>Horizontal Form</h3>
              </a></li>
            <li><a href="">
                <h3>Vertical Form</h3>
              </a></li>
            <li> <a href="">
                <h3>Form Mask</h3>
              </a></li>
            <li> <a href="">
                <h3>Form Validation</h3>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion " id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading_4">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
          <h4 style="margin-top: 30px;"><i class="fa-sharp fa-solid fa-table mx-2"></i>Tables</h4>
        </button>
      </h2>
      <div id="collapse_4" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body mx-4">
          <ul>
            <li><a href="">
                <h3>Basic Tables</h3>
              </a></li>
            <li> <a href="">
                <h3>Data Table</h3>
              </a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion " id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading_5">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
          <h4 style="margin-top: 30px;"><i class="fa-solid fa-code mx-2 mx-2"></i>Multi Level</h4>
        </button>
      </h2>
      <div id="collapse_5" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body mx-4">
          <div class="accordion " id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading01">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse01" aria-expanded="false" aria-controls="collapse01">
                  <h4 style="margin-top: 30px;"><i class="fa-solid fa-book-open-reader mx-2"></i>Level 1</h4>
                </button>
              </h2>
              <div id="collapse01" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body mx-4">
                 <h4>This is Level 1</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion " id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading02">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse02" aria-expanded="false" aria-controls="collapse02">
                  <h4 style="margin-top: 30px;"><i class="fa-solid fa-book-open-reader mx-2"></i>Level 2</h4>
                </button>
              </h2>
              <div id="collapse02" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body mx-4">
                 <h4>This is level 2</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</mat-nav-list>