<div class="container-fluid">
    <div class="row justify-content-center m-5">
        <div class="col-md-6 back">
           <img src="../../assets/logo-small.png" alt="">
        </div>
        <div class="col-md-6">
            <form action="" class="form">
               <h2 class="text-center">Register</h2>
               <h4 class="text-center">Access to our dashboard</h4>
        
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name" id=""><br>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" id=""><br>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" id=""><br>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="" placeholder="Confirm Password" id=""><br>
            </div>
            <div class="form-group">
            <button class="btn btn-info w-100">Register</button><br>
            </div>
             -----------------------------------------<i>OR</i> ----------------------------------------
             
             <h3 class="text-center my-2">Register with 
                <a href="#" class="fa-brands fa-square-facebook m-1"></a>
                <a href="#" class="fa-brands fa-google"></a>
             </h3>
    
             <h2 class="text-center my-2 acc">Already have an account? <a href="" class="login">Login</a></h2>
            
            </form>
        </div>
</div>
